# Cập nhật kết nối CSDL và các API key

DATABASE_URL=postgresql+asyncpg://user:password@host:port/dbname
DB_SSL=require

# Qdrant Cloud API
QDRANT_URL=https://your-qdrant-url
QDRANT_API_KEY=your_qdrant_api_key

DEFAULT_COLLECTION=administrative_procedures
